@model User

<h1 class="text-center">Samenvatting</h1>
<div class="text-center">
	<div>
		<p>Voornaam: @Model.Voornaam</p>
		<p>Familienaam: @Model.Familienaam</p>
		<p>Emailadres: @Model.Email</p>
		<p>Telefoonnummer: @Model.Telefoonnummer</p>
	</div>
	<h2 class="">Over de auteur</h2>
	<p>Gemaakt door Saimen Ducellier!</p>
</div>