html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.homebutton {
    border: none;
    border-color: transparent;
    background-color: rgb(192, 192, 192);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 5px;
    border-block-color: darkgray;
}